@model Core.DTOs.MoneyTypeDto

<button class="btn btn-outline-secondary" onclick="window.history.go(-1);">
    <i class="bi bi-arrow-left"></i> Geri
</button>

<form asp-action="Delete" method="post" asp-route-id=@Model.MoneyTypeId asp-controller ="MoneyType">
    <div class="form-group">
        <label asp-for="TypeOfMoney" class="control-label"></label>
        <input asp-for="TypeOfMoney" class="form-control" />
        <span asp-validation-for="TypeOfMoney" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" onclick="return confirm('Silmek istediğinize emin misiniz?')">Delete</button>


</form>


