@model Core.DTOs.ErrorDetectionLocationDto

<h2>Delete </h2>

<button class="btn btn-outline-secondary" onclick="window.history.go(-1);">
    <i class="bi bi-arrow-left"></i> Geri
</button>

<form asp-action="Delete" method="post" asp-route-id=@Model.Id asp-controller="ErrorDetection">
    <div class="form-group">
        <label asp-for="ErrorLocation" class="control-label"></label>
        <input asp-for="ErrorLocation" class="form-control"  readonly/>
        <span asp-validation-for="ErrorLocation" class="text-danger"></span>
    </div>
</form>


