@model Core.DTOs.ErrorSubGroupDto

<button class="btn btn-outline-secondary" onclick="window.history.go(-1);">
    <i class="bi bi-arrow-left"></i> Geri
</button>

<form asp-action="Delete" method="post" asp-route-id=@Model.Id asp-controller="ErrorSubGroup">
    <div class="form-group">
        <label asp-for="ErrorSubGroupName" class="control-label"></label>
        <input asp-for="ErrorSubGroupName" class="form-control" readonly />
        <span asp-validation-for="ErrorSubGroupName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" onclick="return confirm('Silmek istediğinize emin misiniz?')">Delete</button>

</form>


