@model Core.DTOs.FieldDto

<h2>Create </h2>

<button class="btn btn-outline-secondary" onclick="window.history.go(-1);">
    <i class="bi bi-arrow-left"></i> Geri
</button>

<form asp-action="Create" method="post" asp-controller="Field">
    <div class="form-group">
        <label asp-for="FieldName" class="control-label"></label>
        <input asp-for="FieldName" class="form-control" />
        <span asp-validation-for="FieldName" class="text-danger"></span>
    </div>

 
    <button type="submit" class="btn btn-primary">Create</button>
</form>


