@model Core.DTOs.FieldDto

<button class="btn btn-outline-secondary" onclick="window.history.go(-1);">
    <i class="bi bi-arrow-left"></i> Geri
</button>

<form asp-action="Delete" method="post" asp-route-id=@Model.Id asp-controller="Field">
    <div class="form-group">
        <label asp-for="FieldName" class="control-label"></label>
        <input asp-for="FieldName" class="form-control"  readonly/>
        <span asp-validation-for="FieldName" class="text-danger"></span>
    </div>

</form>


s