@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<style>
    header {
        background-image: url('/Image/403-status-code.png');
        background-size: cover; 
        background-position: center; 
        height: 100vh; 
    }
</style>

<header>
    <a href="https://localhost:7039" class="btn btn-primary">Ana Sayfaya Git</a>
</header>

