@model Core.DTOs.MontageLetterDto

<h2>Create Project</h2>

<button class="btn btn-outline-secondary" onclick="window.history.go(-1);">
    <i class="bi bi-arrow-left"></i> Geri
</button>

<form asp-action="Create" method="post" asp-controller="MontageLetter">
    <div class="form-group">
        <label asp-for="MontageNumber" class="control-label"></label>
        <input asp-for="MontageNumber" class="form-control" />
        <span asp-validation-for="MontageNumber" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>


