@model Core.DTOs.CostDto


<button class="btn btn-outline-secondary" onclick="window.history.go(-1);">
    <i class="bi bi-arrow-left"></i> Geri
</button>

<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" readonly />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Time" class="control-label"></label>
        <input asp-for="Time" class="form-control" readonly />
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" readonly />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FieldId"></label>
        <select asp-for="FieldId" asp-items="ViewBag.field" readony disabled class="form-control"></select>

    </div>

    <div class="form-group">
        <label asp-for="MoneyTypeId"></label>
        <select asp-for="MoneyTypeId" asp-items="ViewBag.moneyTypes" readony disabled class="form-control"></select>

    </div>

    <button type="submit" class="btn btn-primary" onclick="return confirm('Silmek istediğinize emin misiniz?')">Delete</button>
</form>
